<div class="home-container">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/images/gallery/four.jpg" alt="Image 1">
      </div>
      <div class="swiper-slide">
        <img src="/images/gallery/five.jpg" alt="Image 2">
      </div>
      <div class="swiper-slide">
        <img src="/images/gallery/six.jpg" alt="Image 3">
      </div>
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
</div>
