<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <%- include('common/header') -%>
  </head>
  <body>
    <%- include('common/nav') -%>

    <div class="main-container">
      <h1>Contact Us</h1>
      <div class="contact-container">
     
        <div class="location-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3845.269301915134!2d73.84431991485083!3d15.469939989253634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbfbfaf55a87bc9%3A0xa32a3415cbfda61!2sSK%20FITNESS%20FORMULA!5e0!3m2!1sen!2sin!4v1684498358326!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
  
        <div class="contact-form">
          <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
      
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
      
            <label for="message">Message:</label>
            <textarea id="message" name="message"></textarea>
      
            <button type="submit">Send Message</button>
          </form>
        </div>     
       
      </div>
    </div>   
    

    <%- include('common/footer') -%>

  </body>
</html>
