<!DOCTYPE html>
<html>
  <head>
    <title>Gallery</title>
    <%- include('common/header') -%>
  </head>
  <body>
    <%- include('common/nav') -%>

    <div class="main-container">
      <h1>Gallery</h1>
      <div class="gallery">
      
        <% gallery.forEach(function(image) { %>
          <div class="image">
            <img src="<%= image %>" alt="Placeholder Image">
          </div>
        <% }); %>
  
      </div>
    </div>

    <%- include('common/footer') -%>

  </body>
</html>
