<!DOCTYPE html>
<html>
  <head>
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('common/header') -%>
  </head>
  <body>
    <%- include('common/nav') -%>

    <div class="main-container">
      <h1>Gallery</h1>
      
      <div class="gallery">
        <% gallery.forEach(function(image, index) { %>
          <div class="image">
            <img src="<%= image %>" alt="Placeholder Image">
          </div>
        <% }); %>
      </div>
      
      

      <div class="fullscreen-preview">
        <span class="prev-icon">&#10094;</span>
        <span class="next-icon">&#10095;</span>
        <img class="preview-image" src="" alt="">
      </div>

    </div>

    <%- include('common/footer') -%>

  </body>
</html>
