<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('common/header') -%>
  </head>
  <body>
    <%- include('common/nav') -%>

      <div class="banner">
        <h1>Welcome to Our Gym</h1>
        <p>Stay Fit, Stay Healthy</p>
      </div>
    
      <div class="about">
        <h1>About Us</h1>
  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget urna ultricies, placerat ipsum a, tincidunt quam. Sed pharetra tellus non risus pellentesque, in semper lorem consectetur. Donec mollis nulla non libero congue aliquet. Etiam dapibus augue ac enim efficitur lacinia. Nunc ullamcorper facilisis lectus, ut ullamcorper metus convallis vitae. Curabitur eleifend, mi sed semper hendrerit, sem arcu dictum mi, et vulputate dui purus non dui.</p>
        
        <p>Etiam pellentesque ligula ac rutrum dictum. Nunc a dolor sit amet justo sollicitudin commodo. Morbi dignissim lacinia nisi, id fringilla massa mollis at. Phasellus ullamcorper velit id tortor pellentesque, at luctus sem vestibulum. Nam elementum rhoncus consectetur. Donec accumsan urna odio, a viverra turpis aliquet a. Sed vulputate, nulla non dapibus cursus, turpis lorem sollicitudin nunc, in vulputate felis est a ante. Cras fringilla ipsum et nulla consectetur, sit amet feugiat arcu iaculis. Duis id urna sit amet mauris egestas commodo. Quisque vel ultrices tortor, ac fermentum neque. Nam at gravida lacus. Integer fringilla semper lorem, ac dignissim orci commodo vel. Fusce aliquam justo non massa fermentum, et auctor lectus consectetur. Proin scelerisque, tellus ut maximus posuere, massa mi aliquet orci, et viverra felis ante ut justo.</p>
      
      </div>
    <%- include('common/footer') -%>

  </body>
</html>
